/* Sezione variabili */
:root { 
    --my-black : rgb(21, 21, 27); 
    --my-white : rgb(248, 249, 250);
    --my-dark-grey : rgb(52, 58, 64);
    --my-light-grey : rgb(108, 117, 125);
}


/* --my-black : rgb(33, 37, 41);  */
/*Fine Sezione variabili */


/* font */
.Frist-Front{
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
}

/* font */



body { 
    
    background-color: var(--my-black);
}


h1 { 
    color: var(--my-white);
}


/* Css per Navbar */

.navCustom { 
    background-color: var(--my-black) ;
    color:  var(--my-white);
    border: solid 1px var(--my-dark-grey);
    min-height: 10vh;
    width: 100%;
    transition: 0.5s;
    
}


.navCustomScrolled { 
    background-color:  var(--my-white);
    color: var(--my-black);
    border: solid 1px var(--my-dark-grey);
    min-height: 15vh;
    width: 100%;
    transition: 0.5s;

}

.logoCustom { 
    height: 5vh;
    width: 5vh;
}

.spanCustom1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.ulNavCustom{ 
    
    display: flex;
    justify-content: space-around ;
    margin: auto;
    font-size: 120%;
    
}

.nav-link { 
    color: var(--my-white) ;
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 4vh;
    transition: 0.5s;
}
/* Css per link in navbar scrollata */

.navLinkScrolled { 
    color: var(--my-black) ;
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 4vh;
    transition: 0.5s;
    padding-top: 155px;
   font-size: 130%;
   text-decoration: none;
}

.navLinkScrolled:hover { 
    font-size: 38px;
    
}

.nav-link:hover { 
    font-size: 28px;
    color: var(--my-white);
    
}

.nav-link:focus { 
    color: var(--my-white);
    
}

.navbar-brand {
    display: inline-block;
    width: 50%;
}


.navbar-toggler { 
    background-color: var(--my-white);
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 5vh;
    width: 5vh;
    margin: 0px;
    padding: 0px;
}

.navbar-toggler-icon { 
    height: 4vh;
    width: 4vh;
    display: flex;
    margin: 0px;
    padding: 0px;
    
}


.spanLinkNav{ 
    margin-right: 0.5vw;
}


/*Fine Css per Navbar */


header{
    padding-right: 0px;
    margin-top: 10vh;}


    /* Footer */
footer{ color: var(--my-white);}
    /*Fine Footer */



/* 
--bs-breakpoint-xs: 0;
--bs-breakpoint-sm: 576px;
--bs-breakpoint-md: 768px;
--bs-breakpoint-lg: 992px;
--bs-breakpoint-xl: 1200px;
--bs-breakpoint-xxl: 1400px; */


/* @media screen and (max-width: 996) {

    
    .collapse {
     height: 40vh;
    }
    
} */